body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  background: #000;
  display: flex;
  flex-wrap: wrap;
}

#titulo {
  font-family: 'Science Gothic', sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(to bottom, #00000054, #50110977),
    url('../assets/imgs/fundo_login.png') center/cover no-repeat;
  z-index: -1;
}

.login__box {
  max-width: 550px;
  width: 100%;
  padding: 60px 60px;

  background: #0a0a0ad2;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(120,0,0,0.6);
}

.login__title {
  font-size: clamp(16px, 6vw, 37px);  /*pre deixar ele responsivo pra celular*/
  letter-spacing: 55%;
  display: flex;
  justify-content: center;
  text-align: center;

  background: linear-gradient(90deg, #cc2400, #fba928, #cc2400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login__divider {
  display: flex;
  align-items: center;
  margin: 30px 0 40px;
}

.login__logo {
  width: 55px;
  margin: 0 1px;
}

.login__line {
  flex: 1;
  height: 3.5px;
}

.login__line:first-child {
  background: linear-gradient(to left, #bc7226, transparent);
}

.login__line:last-child {
  background: linear-gradient(to right, #bc7226, transparent);
}

.login__label {
  font-size: 14px;
  letter-spacing: 2px;

  background: linear-gradient(90deg, #cc2400, #fba928, #cc2400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login__link {
  font-size: 13px;
  color: #d1d1d1;
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.login__link:hover {
  color: #fff4cf;
}

.login__input {
  background:
    linear-gradient(90deg, rgba(255,140,0,0.08), rgba(0,0,0,0.4));
  border: 1px solid rgba(255,255,255,0.25);
  color: #fff;
  border-radius: 0;
}

.login__input:focus {
  border-color: #ff6a00;
  box-shadow: 0 0 8px rgba(255,106,0,0.4);
}

.login__button {
  margin-top: 15px;

  background: linear-gradient(90deg, #fba928, #cc2400, #fba928);
  border: 1px solid rgba(200,200,200,0.5);

  color: #fff4cf;
  font-weight: bold;
  border-radius: 0;
}

.login__button:hover {
  color: #d1d1d1;
}

.texto-perigo{
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;
  color:#9b130a;

}

.texto-sucesso{
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;
  color:#ee821e
}

.texto-aviso{
  font-family: 'Science Gothic', sans-serif;
  font-weight: normal;
  color:#f0ca22
}