body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  background: #000;
}

#titulo {
  font-family: 'Science Gothic', sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(to bottom, #00000054, #50110977),
    url('../assets/imgs/fundo_login.png') center/cover no-repeat;
  z-index: -1;
}

.login__box {
  max-width: 550px;
  width: 100%;
  padding: 60px 60px;

  background: rgba(10, 10, 10, 0.72);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(120,0,0,0.6);
}

.login__title {
  font-size: 255%;
  letter-spacing: 55%;
  text-align: center;

  background: linear-gradient(90deg, #cc2400, #fba928, #cc2400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login__divider {
  display: flex;
  align-items: center;
  margin: 30px 0 40px;
}

.login__logo {
  width: 55px;
  margin: 0 1px;
}

.login__line {
  flex: 1;
  height: 3.5px;
}

.login__line:first-child {
  background: linear-gradient(to left, #bc7226, transparent);
}

.login__line:last-child {
  background: linear-gradient(to right, #bc7226, transparent);
}

.login__label {
  font-size: 14px;
  letter-spacing: 2px;

  background: linear-gradient(90deg, #cc2400, #fba928, #cc2400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login__link {
  font-size: 13px;
  color: #d1d1d1;
}

.login__link:hover {
  color: #fff4cf;
}
