body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  background: #000;
}

#titulo {
  font-family: 'Science Gothic', sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(to bottom, #00000054, #50110977),
    url('../assets/imgs/fundo_login.png') center/cover no-repeat;
  z-index: -1;
}

.login__box {
  max-width: 550px;
  width: 100%;
  padding: 60px 60px;

  background: rgba(10, 10, 10, 0.72);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(120,0,0,0.6);
}
